.login {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.collapse {
  justify-content: flex-end;
}

button {
  border: none;
  background: none;
}

button:active {
  border: none;
  background: none;
}
